body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

header {
    background-color: #404041;
    height: auto;
}

header h1 {
  color: #E6E7E8;
  font-size: 2em;
  font-weight: 300;
  padding: 25px 25px;
}

.number {
  color: #ED458B;
  display: inline-block;
  font-weight: 700;
  padding-right: 15px;
}

.guess, .clear {
    border: 2px solid white;
    border-radius: 15px;
    width: 20%;
    height: 30px;
}

.midbox {
  margin: 40px;

}

.reset {
    border: 2px solid white;
    border-radius: 15px;
    width: 45%;
    height: 30px;
}

div p {
    color: #EB008B;
    font-size: 8em;
    vertical-align: middle;
}

input {
    height: 32px;
    margin: 32px;
    width: 40%;
}

button {
  background-color: #D0D2D3;
  color: #ffffff;
  display: inline-block;
  margin: 0 15px 0 15px;
}

button:hover {
  background-color: #EB008B;
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  input{
    width: 90%;
    height: 35px;
    margin: 25px 0 25px 0;
  }

  .guess {
    margin-bottom: 10px;
  }

  .guess, .clear, .reset {
    width: 90%;
    height: 40px;
    border-radius: 20px;

  }
  .guess p, .clear p, .reset p {
    font-size: 24px;
    font-weight: 300;
  }
}
