body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

header {
  background-color: #404041;
}

header h1 {
  color: #E6E7E8;
  font-size: 2.5em;
  font-weight: 300;
  padding: 1em 1em;
}

.clear, .guess {
    width: 20%;
}

.guess {
  margin-right: 5%;
}

.midbox {
  margin: 2em;
}

.number {
  color: #ED458B;
  font-weight: 700;
  padding-right: .25em;
}

.reset, #minClick, #maxClick {
    width: 45%;
}

#lastGuess {
    color: #EB008B;
    font-size: 8em;
    margin: .1em;
}

input {
    height: 3em;
    width: 45%;
    margin: 2.5em auto;
    display: block;
    text-align: center;
}

button {
  background-color: #D0D2D3;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  height: 4em;
  border: .2em solid white;
  border-radius: 2em;
}

button:hover {
  background-color: #EB008B;
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  input{
    width: 90%;
    height: 4em;
    margin: 5% auto;
  }

  .guess {
    margin-bottom: 1em;
    margin-right: 0;
  }

  .guess, .clear, .reset, #minClick, #maxClick {
    width: 90%;
    height: 4em;
    border-radius: 2em;

  }
  .guess p, .clear p, .reset p, #minClick p, #maxClick p {
    font-size: 2em;
    font-weight: 300;
  }
}
